.game-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  pointer-events: none;
}

section > * {
  font-family: 'Russo', Arial, sans-serif;
}
section {
  position: absolute;
  display: flex;
  width: 100%;

  z-index: 4;
  height: 100%;
  top: 0;
  left: 0;
  gap: 5vw;
  overflow: hidden;
}

.left-column {
  width: 45%;
  aspect-ratio: 1;
  position: relative;
  z-index: -50;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../img/kilya.svg');
}

.right-column {
  width: 45%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.maintitle {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
  letter-spacing: 0.3vw;
  font-size: 6vw;
  display: block;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 0.1vw;
  color: white;
  filter: url(#goo);
  letter-spacing: 0.5vw;
  text-shadow: 0 0.5vw black;
  margin-bottom: 5vw;
  transition: all 0.2s ease-in-out;
}
.maintitle:hover {
  transition: all 0.2s ease-in-out;
  text-shadow: 0 0.8vw black;
  letter-spacing: 0.8vw;
}
svg {
  position: absolute;
}
.leaves {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: wind 10s linear infinite;
  pointer-events: none;
  z-index: 2;
}
.leaf {
  width: 7vw;
  position: absolute;
  aspect-ratio: 1;
  background-size: contain;
  z-index: 100;
  pointer-events: none;
  background-repeat: no-repeat;
  background-image: url('../img/heart_leaf.png');
  animation: leaf 5s alternate-reverse infinite;
}

.leaf:nth-of-type(2) {
  --i: 6;
}
.leaf:nth-of-type(3) {
  --i: 3;
}
.leaf:nth-of-type(4) {
  --i: -2;
}

.button {
  position: relative;
  background-color: #fcfbf7;
  display: block;
  padding: 50px;
  font-size: 4vw;
  z-index: 1;
  border-radius: 2vw;
  border: 0.2vw solid black;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0.5vw black;
  letter-spacing: 0.3vw;
}
.score {
  z-index: 1;
  color: white;
  font-size: 4vw;
  margin-bottom: 2vw;
  filter: url(#goo);
  display: inline;
  transition: all 0.2s ease-in-out;
}
.score:hover {
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.3vw;
}

.new-game {
  color: white;
  filter: url(#goo);
}
.score-number {
  font-size: 4vw;
  color: white;
}
.score-increase {
  position: absolute;
  right: 2vw;
  top: 2vw;
  filter: url(#goo);
  color: white;
  font-family: 'Russo', Arial, sans-serif;
  font-size: 4vw;
}
@keyframes wind {
  100% {
    transform: translateX(-100%) translateY(100%);
  }
}
@keyframes leaf {
  100% {
    transform: translateX(calc(-20% * var(--i))) translateY(100%)
      rotate(calc(var(--i) * -360deg));
  }
}
.cloud {
  width: 100%;
  height: 100%;
  z-index: -100;
  background-image: url('../img/cloud.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
